@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/font/bootstrap-icons.min.css" />
}

<div class="input-group mb-3">
  <span class="input-group-text" id="seed-descr">Seed</span>
  <input value="0" id="seed" type="number" class="form-control" placeholder="Enter a seed" aria-label="Enter a seed" aria-describedby="seed-descr">
  <button id="generate_seed" class="btn btn-outline-primary">Generate seed</button>
</div>

<div class="input-group mb-3">
    <label class="input-group-text" for="loc-select">Locale</label>
    <select class="form-select" id="loc-select" asp-items="ViewBag.LocaleList">
    </select>
</div>

<div class="row g-3">
    <label for="err-range" class="form-label">Number of errors</label>
    <div class="col">
        <input type="range" class="form-range" value="0" min="0" max="10" step="0.25" id="err-range" />
    </div>
    <div class="col-auto">
        <input value="0" type="number" min="0" max="1000" class="form-control" id="err-input"/>
    </div>
</div>
<!-- Toolbar -->
<div class="d-flex justify-content-between mb-3">
    <div>
        <button id="generate_csv" class="btn btn-secondary">Export <i class="bi bi-filetype-csv"></i></button>
    </div>
</div>
<!-- Centered Table -->
<div class="table-responsive d-flex justify-content-center overflow-x-auto" style="transform: rotateX(180deg);">
    <table class="table table-bordered table-striped text-center" id="main-table" style="transform: rotateX(180deg);">
        <thead>
            <tr>
                <th>Number</th>
                <th>Identifier</th>
                <th>Full Name</th>
                <th>Address</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <!-- The data will be managed by the javascript code -->
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
}